
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap: 10px;
    height: 100vh;
}

.grid-container * {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header,
footer {
    background-color: skyblue;
}

.hero {
    background-color: #01d401;
}

.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px;
}

.article {
    background-color: coral;
    color: white;
    height: 100%;
}

main {
    background-color: blue;
}

aside {
    background-color: darkorange;
}


@media (min-width: 930px) {
    
    .grid-container {
        display: grid;

        grid-template-columns: [side-start] 4fr [content-start] repeat(6, 1fr) [content-end] 4fr [side-end];
        grid-auto-rows: 150px;
        gap: 10px;
    }

    header,
    footer {
        grid-column: side;
    }

    .hero {
        grid-column: content;
        grid-row: 2/4;
    }

    .section {
        gap: 10px;
        grid-column: content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 1fr;
    }

    main {
        grid-column: content;
    }

    aside {
        grid-column-start: side-start;
        grid-column-end: content-end;
    }
}